###  Fully Automated Trading Bot: eth  ###

In [43]:
# import os
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation

# %matplotlib inline

ModuleNotFoundError: No module named 'MCForecastTools'

In [44]:
# import os
# import numpy as np
# import requests
# from dotenv import load_dotenv
# import pandas as pd
# import matplotlib.pyplot as plt
# import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
# import hvplot.pandas
# %matplotlib inline

ModuleNotFoundError: No module named 'MCForecastTools'

In [41]:
# # Load .env enviroment variables
# from dotenv import load_dotenv
# load_dotenv()

# # Set Alpaca API key and secret
# alpaca_api_key = os.getenv("ALPACA_API_KEY")
# alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# api = tradeapi.REST(
#     alpaca_api_key,
#     alpaca_secret_key,
#     api_version = "v2"
# )

In [42]:
# ticker = "AAPL"

# # Set timeframe to "1Day"
# timeframe = "1Day"

# # Set start and end datetimes of 4 years from Today
# start_date = pd.Timestamp("2017-05-04", tz="America/New_York").isoformat()
# end_date = pd.Timestamp("2021-05-04", tz="America/New_York").isoformat()

# # Get 1 year's worth of historical data for AAPL
# ticker_data = api.get_bars(
#     ticker,
#     timeframe,
#     start=start_date,
#     end=end_date
# ).df

# ticker_data.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2017-05-04 04:00:00+00:00,146.52,147.14,145.81,146.53,23371925,140290,146.348237
2017-05-05 04:00:00+00:00,146.76,148.98,146.76,148.96,27359822,157911,148.248475
2017-05-08 04:00:00+00:00,149.03,153.70,149.03,153.01,48864610,255930,152.033116
2017-05-09 04:00:00+00:00,153.87,154.88,153.45,153.99,39135644,221722,154.114338
2017-05-10 04:00:00+00:00,153.65,153.94,152.11,153.26,25807492,156839,153.101049

In [85]:
# Initial imports
import numpy 

import pandas as pd
from pathlib import Path

import hvplot.pandas

import os
import requests
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
%matplotlib inline

In [86]:
# from dotenv import load_dotenv     this is to read the alpacha API 
# now import ETH data, clean it

In [87]:
# note, you will need to run the following code in the terminal 

# conda activate alpacaenv
# jupyter lab --ContentsManager.allow_hidden=True

In [133]:
shares_data = {
    "shares": [200, 320]
}

# Set the tickers
tickers = ["SBUX", "AWK"]

# Create the shares DataFrame
df_shares = pd.DataFrame(shares_data, index=tickers)

# Display shares data
df_shares

      shares
SBUX     200
AWK      320

In [134]:
# T or F   if false, bot wont read data from api  

load_dotenv()

True

In [135]:
# reading A_api and A_secret, saved on a .env file 
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [136]:
# type should be str 
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [137]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [138]:
today = pd.Timestamp("2022-11-20", tz="America/New_York").isoformat()
today2 = pd.Timestamp("2022-11-21", tz="America/New_York").isoformat()

In [139]:
timeframe = "1Day"

In [140]:
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today2
).df

df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-11-21 05:00:00+00:00,147.32,150.325,147.21,147.72,736931,19993,148.282016,AWK
2022-11-21 05:00:00+00:00,96.99,98.485,96.70,98.32,4499170,67356,97.973433,SBUX

In [143]:
# this is an error    :/   


df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today2
).df

# Reorganize the DataFrame
# Separate ticker data
eth_btc = df_portfolio[df_portfolio['symbol']=='AWK'].drop('symbol', axis=1)
eth_usd = df_portfolio[df_portfolio['symbol']=='SBUX'].drop('symbol', axis=1)

# Concatenate the ticker DataFrames
df_portfolio = pd.concat([eth_btc, eth_usd],axis=1, keys=['SBUX','AWK'])

# Display sample data
df_portfolio

                             SBUX                                   \
                             open     high     low   close  volume
timestamp
2022-11-21 05:00:00+00:00  147.32  150.325  147.21  147.72  736931

                                                     AWK                       \
                          trade_count        vwap   open    high   low  close
timestamp
2022-11-21 05:00:00+00:00       19993  148.282016  96.99  98.485  96.7  98.32


                            volume trade_count       vwap
timestamp
2022-11-21 05:00:00+00:00  4499170       67356  97.973433

In [150]:
awk_price = float(df_portfolio["AWK"]["close"])
subx_price = float(df_portfolio["SBUX"]["close"])

In [154]:
# 5 day roling average, if statments 


#if below 5 (10)(30)(ect) day rolling avg buy 

# if above 5 (10)(30)(ect) day rolling avg sell


# if the exponantal moving average (roughly =) the 200 simple moving day average bu

# if the 30 day EMA is sloping is posative, BUY 
# if the 30 day EMA is slop is negative, SELL

# when squeses is quiet 
#

In [153]:
awk_price_2 = awk_price * df_shares.loc["AWK"]["shares"]
subx_price_1 = subx_price * df_shares.loc["SBUX"]["shares"]

# Print the current value of the stocks portfolio
print(f"The current value of the {df_shares.loc['awk']['shares']} ETH/BTC shares is ${awk_price_2:0.2f}")
print(f"The current value of the {df_shares.loc['sbux']['shares']} ETH/USD shares is ${subx_price_1:0.2f}")

KeyError: 'awk'

In [ ]:
value_data = {
    "eth/btc": [eth_usd_price],
    "eth/usd": [eth_btc_price]
}

# Create a DataFrame with the current value of shares
df_value = pd.DataFrame(value_data)

# Display DataFrame data
df_value

In [ ]:
df_shares.plot.pie(y="shares", title="Stocks Portfolio Composition")

In [182]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [183]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [184]:
today = pd.Timestamp("2022-07-14", tz="America/New_York").isoformat()

In [185]:
tickers = ["META", "SBUX", "ETH"]

In [186]:
timeframe = "1Day"

In [187]:
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today
).df

df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-07-14 04:00:00+00:00,161.22,162.59,157.2801,158.05,23765168,260330,158.359649,META
2022-07-14 04:00:00+00:00,77.09,78.37,76.8100,78.20,4504473,59389,77.811913,SBUX