###  Fully Automated Trading Bot: eth  ###

In [1]:
# import os
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation

# %matplotlib inline

In [2]:
# import os
# import numpy as np
# import requests
# from dotenv import load_dotenv
# import pandas as pd
# import matplotlib.pyplot as plt
# import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
# import hvplot.pandas
# %matplotlib inline

In [3]:
# # Load .env enviroment variables
# from dotenv import load_dotenv
# load_dotenv()

# # Set Alpaca API key and secret
# alpaca_api_key = os.getenv("ALPACA_API_KEY")
# alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# api = tradeapi.REST(
#     alpaca_api_key,
#     alpaca_secret_key,
#     api_version = "v2"
# )

In [4]:
# ticker = "AAPL"

# # Set timeframe to "1Day"
# timeframe = "1Day"

# # Set start and end datetimes of 4 years from Today
# start_date = pd.Timestamp("2017-05-04", tz="America/New_York").isoformat()
# end_date = pd.Timestamp("2021-05-04", tz="America/New_York").isoformat()

# # Get 1 year's worth of historical data for AAPL
# ticker_data = api.get_bars(
#     ticker,
#     timeframe,
#     start=start_date,
#     end=end_date
# ).df

# ticker_data.head()

In [21]:
# Initial imports
import numpy 

import pandas as pd
from pathlib import Path

import hvplot.pandas

import os
import requests
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
%matplotlib inline

In [22]:
# from dotenv import load_dotenv     this is to read the alpacha API 
# now import ETH data, clean it

In [23]:
# note, you will need to run the following code in the terminal 

# conda activate alpacaenv
# jupyter lab --ContentsManager.allow_hidden=True

In [44]:
shares_data = {
    "shares": [200, 1000, 100]
}

# Set the tickers
tickers = ["NVDA", "HD", "AMZN"]

# Create the shares DataFrame
df_shares = pd.DataFrame(shares_data, index=tickers)

# Display shares data
df_shares

      shares
NVDA     200
HD      1000
AMZN     100

In [45]:
# T or F   if false, bot wont read data from api  

load_dotenv()

True

In [46]:
# reading A_api and A_secret, saved on a .env file 
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [47]:
# type should be str 
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [48]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [49]:
today = pd.Timestamp("2022-1-2", tz="America/New_York").isoformat()
today2 = pd.Timestamp("2023-1-2", tz="America/New_York").isoformat()

In [50]:
timeframe = "1Day"

In [51]:
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today2
).df

df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-01-03 05:00:00+00:00,3351.00,3414.0700,3323.2100,3408.09,3192069,187619,3389.105982,AMZN
2022-01-04 05:00:00+00:00,3408.76,3428.0000,3326.9900,3350.44,3533192,216128,3358.544328,AMZN
2022-01-05 05:00:00+00:00,3337.66,3342.5250,3287.4775,3288.00,2928413,208396,3314.418692,AMZN
2022-01-06 05:00:00+00:00,3269.01,3296.0000,3238.7442,3265.08,2592981,187193,3268.051841,AMZN
2022-01-07 05:00:00+00:00,3276.78,3304.8650,3240.6200,3251.08,2325632,156769,3259.961282,AMZN
...,...,...,...,...,...,...,...,...
2022-12-23 05:00:00+00:00,151.96,153.3900,148.8300,152.06,34932168,317423,151.310191,NVDA
2022-12-27 05:00:00+00:00,150.74,151.0000,140.5600,141.21,46490226,425861,144.073615,NVDA
2022-12-28 05:00:00+00:00,139.27,142.6200,138.8400,140.36,35192444,314623,140.628601,NVDA
2022-12-29 05:00:00+00:00,144.02,146.8300,142.2700,146.03,35492324,306269,145.353876,NVDA
2022-12-30 05:00:00+00:00,143.34,146.2899,142.3300,146.14,31033235,303597,144.469286,NVDA

In [52]:
# this is an error    :/   


df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today2
).df

# Reorganize the DataFrame
# Separate ticker data
NVDA_usd = df_portfolio[df_portfolio['symbol']=='NVDA'].drop('symbol', axis=1)
HD_usd = df_portfolio[df_portfolio['symbol']=='HD'].drop('symbol', axis=1)
AMZN_usd = df_portfolio[df_portfolio['symbol']=='HD'].drop('symbol', axis=1)

# Concatenate the ticker DataFrames
df_portfolio = pd.concat([HD_usd, AMZN_usd, NVDA_usd],axis=1, keys=['SBUX','AWK'])

# Display sample data
df_portfolio

                             SBUX                                       \
                             open      high       low   close   volume
timestamp
2022-01-03 05:00:00+00:00  416.57  417.8446  403.2600  408.64  3720356
2022-01-04 05:00:00+00:00  408.64  413.6100  408.1900  412.84  3264571
2022-01-05 05:00:00+00:00  414.00  414.2200  406.8100  407.24  4418925
2022-01-06 05:00:00+00:00  408.56  409.0700  403.0200  405.76  3307365
2022-01-07 05:00:00+00:00  403.36  404.0900  392.8800  393.61  4514118
...                           ...       ...       ...     ...      ...
2022-12-23 05:00:00+00:00  314.15  319.1000  313.0600  318.73  2063033
2022-12-27 05:00:00+00:00  318.41  321.5470  317.5100  319.55  1605480
2022-12-28 05:00:00+00:00  320.55  321.4328  315.5000  315.73  1553822
2022-12-29 05:00:00+00:00  318.65  321.8300  317.5900  320.41  1551671
2022-12-30 05:00:00+00:00  317.49  318.1700  313.0218  315.86  2553216

                                                      AWK                      \
                          trade_count        vwap    open      high       low
timestamp
2022-01-03 05:00:00+00:00       85021  408.261522  416.57  417.8446  403.2600
2022-01-04 05:00:00+00:00       67394  411.849520  408.64  413.6100  408.1900
2022-01-05 05:00:00+00:00       84370  409.332906  414.00  414.2200  406.8100
2022-01-06 05:00:00+00:00       68949  405.615956  408.56  409.0700  403.0200
2022-01-07 05:00:00+00:00       89210  395.971177  403.36  404.0900  392.8800
...                               ...         ...     ...       ...       ...
2022-12-23 05:00:00+00:00       48306  317.048672  314.15  319.1000  313.0600
2022-12-27 05:00:00+00:00       41163  319.760497  318.41  321.5470  317.5100
2022-12-28 05:00:00+00:00       41196  317.455955  320.55  321.4328  315.5000
2022-12-29 05:00:00+00:00       39748  320.552492  318.65  321.8300  317.5900
2022-12-30 05:00:00+00:00       55860  315.307359  317.49  318.1700  313.0218


                            close   volume trade_count        vwap
timestamp
2022-01-03 05:00:00+00:00  408.64  3720356       85021  408.261522
2022-01-04 05:00:00+00:00  412.84  3264571       67394  411.849520
2022-01-05 05:00:00+00:00  407.24  4418925       84370  409.332906
2022-01-06 05:00:00+00:00  405.76  3307365       68949  405.615956
2022-01-07 05:00:00+00:00  393.61  4514118       89210  395.971177
...                           ...      ...         ...         ...
2022-12-23 05:00:00+00:00  318.73  2063033       48306  317.048672
2022-12-27 05:00:00+00:00  319.55  1605480       41163  319.760497
2022-12-28 05:00:00+00:00  315.73  1553822       41196  317.455955
2022-12-29 05:00:00+00:00  320.41  1551671       39748  320.552492
2022-12-30 05:00:00+00:00  315.86  2553216       55860  315.307359

[251 rows x 14 columns]

In [13]:
awk_price = float(df_portfolio["AWK"]["close"])
subx_price = float(df_portfolio["SBUX"]["close"])

In [ ]:
# 5 day roling average, if statments 


#if below 5 (10)(30)(ect) day rolling avg buy 

# if above 5 (10)(30)(ect) day rolling avg sell


# if the exponantal moving average (roughly =) the 200 simple moving day average bu

# if the 30 day EMA is sloping is posative, BUY 
# if the 30 day EMA is slop is negative, SELL

# when squeses is quiet 
#

In [ ]:
awk_price_2 = awk_price * df_shares.loc["AWK"]["shares"]
subx_price_1 = subx_price * df_shares.loc["SBUX"]["shares"]

# Print the current value of the stocks portfolio
print(f"The current value of the {df_shares.loc['awk']['shares']} ETH/BTC shares is ${awk_price_2:0.2f}")
print(f"The current value of the {df_shares.loc['sbux']['shares']} ETH/USD shares is ${subx_price_1:0.2f}")

In [ ]:
value_data = {
    "eth/btc": [eth_usd_price],
    "eth/usd": [eth_btc_price]
}

# Create a DataFrame with the current value of shares
df_value = pd.DataFrame(value_data)

# Display DataFrame data
df_value

In [ ]:
df_shares.plot.pie(y="shares", title="Stocks Portfolio Composition")

In [ ]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

In [ ]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [ ]:
today = pd.Timestamp("2022-07-14", tz="America/New_York").isoformat()

In [ ]:
tickers = ["META", "SBUX", "ETH"]

In [ ]:
timeframe = "1Day"

In [ ]:
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today
).df

df_portfolio